.form-container {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 5rem;
        }

        .form-title {
            color: #333;
        }

        .form-input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .form-textarea {
            width: 100%; /* Adjust the width as needed */
            padding: 10px;
            margin: 8px 0;
            height: auto!important;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

          .form-input:focus,
        .form-textarea:focus {
            border-color: #007bff;
            outline: none;
        }

        .form-button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .form-button:hover {
            background-color: #0056b3;
        }